extends ../layouts/default

block content
	.container
		h1 Personale
		h3 Prof. Mauro Ceccanti
		br
		<img src="/images/ceccanti.png" width="300" height="250">

		br
		p Professore Associato Cattedra di Metodologia Clinica e    Semeiotica Medica Responsabile del Centro di Riferimento Alcologico della Regione Lazio
		p presso l'Universita' degli Studi "La Sapienza", Roma.
		p Dipartimento di Medicina Clinica, Viale del Policlinico, 00161 - Roma, tel. 06/49972093/95/97




		h3 Attività Scolastica


		p Luglio 1969: Consegue la maturita' al liceo classico statale "Pilo Albertelli" di Roma.

		p Luglio 1975: Consegue la laurea in Medicina e Chirurgia presso l'Universita' "La Sapienza" di Roma con la votazione di 110/110 e lode.

		p Novembre 1976: Vincitore del concorso di ammissione alla I Scuola di Specializzazione in Ematologia Clinica e di Laboratorio (classificandosi al primo posto) dell'Universita' "La Sapienza" di Roma.

		p Luglio 1978: Diploma di Specializzazione in Ematologia Clinica e di Laboratorio con la votazione di 70/70 e lode

		p Novembre 1982: Vincitore del concorso di ammissione (classificandosi al secondo posto) alla II Scuola di Specializzazione in Malattie dell'Apparato Digerente della stessa universita'

		p Luglio 1985 :Diploma di Specializzazione in Malattie dell'Apparato Digerente con la votazione di 70/70 e lode.


		h3 Attività Accademica 
 

		p Anno accademico 1994-95:
		p Nominato Professore Associato di Fisiopatologia Medica all'Università "La Sapienza" di Roma.
		p Affidamento dell'insegnamento di Metodologia Clinica nel Corso di laurea di Medicina e Chirurgia dell'Università "La Sapienza" di Roma.

		p Anno accademico 1995-1996
		p Nominato Professore Associato di Metodologia Clinica nel Corso di laurea di Medicina e Chirurgia dell'Università "La Sapienza" di Roma.

		p Anno accademico 1997
		p Diventa Responsabile del Centro di Riferimento Regionale per i Problemi e le Patologie Alcol-Correlate

		p Anno 1999/2000
		p Affidamento dell'insegnamento di "Profilassi e terapia delle malattie trasmesse con terapia trasfusionale" nell'ambito dell'area di Medicina Interna al IV anno per il nuovo ordinamento  della II Scuola di Specializzazione in Ematologia per l'a.a. 1999/2000.

		h3 Incarichi

		p Anno 1997
		p Dal 16 settembre1997 è stato nominato responsabile del Centro di Riferimento Regionale per le Patologie e Problematiche Alcol Correlate

		p Anno 1999
		p Diventa referente regionale del Comitato tecnico scientifico per il progetto Ministero della Sanità "Programma di sensibilizzazione e formazione dei medici di medicina generale per la prevenzione primaria e secondaria dell'uso inadeguato e della dipendenza da alcol, nonché per la gestione dei trattamenti dei soggetti tossico-alcoldipendenti".

		p Anno 2000-2001
		p Responsabile scientifico del Corso di Aggiornamento per operatori dei Servizi pubblici e del Privato sociale in campo alcologico, organizzato dal Centro di Riferimento Alcologico della Regione Lazio Azienda Policlinico Umberto I in convenzione con la Regione Lazio.

		p Anno 2000-2001
		p Coordinatore del numero di Medicina delle Tossicodipendenze (Italian Journal of the Addictions) Alcolismo il ruolo del Naltrexone. ISSN 1125-9345 Anno VIII Numero (29) Dicembre 2000

		p Anno 2004
		p Nominato dalla Regione Lazio Assessorato alla Sanità, responsabile scientifico del progetto sperimentale per l’alcoldipendenza “Autogestione teleassistita, tecniche cognitivo-comportamentali e trattamento individualizzato per ottimizzare, a livello quantitativo e qualitativo gli interventi integrati di prevenzione secondaria dell’abuso alcolico”

		p Anno 2005
		p Nominato, dalla Presidenza del Consiglio dei Ministri, membro del comitato scientifico e componente della Consulta delle Tossicodipendenze.


		h3 Incarichi Associazioni




		p Anno 1994
		p Dal 1994 al 1996 è stato Vice Presidente del Centro “M. Mezzelani”

		p Anno 2001
		p Dal 2001 a tutt’oggi è Presidente dell’Associazione S.I.T.A.C. (Onlus) (Società Italiana per il Trattamento dell’Alcolismo e le sue Complicanze)

		p Attività Organizzativa 

		p In tutti questi anni ha fatto parte del Comitato Scientifico, della Segreteria Scientifica e del Coordinamento Scientifico, di numerosi Congressi e Convegni a livello nazionale ed internazionale contribuendo anche alla loro organizzazione. E' stato inoltre il promotore di vari Corsi di aggiornamento per medici di medicina generale sulle patologie alcol-correlate.

		p Anno 1998 
		p Presidente della II Consensus Conference sull’Alcol Sanremo 10-12/dicembre/1998

		p Anno 1999 
		p Entra a far parte del Comitato Editoriale del giornale dell'alimentazione e delle patologie correlate "CIBUS"


		h3Attività Didattica scientifica

		p Anno 1976
		p Dal 1976 a tutt'oggi ha pubblicato circa 283 relazioni scientifiche
		p Anno 1983
		p Dal 1983 a tutt'oggi ha partecipato come relatore a circa 75 congressi
		p Anno 1985
		p Dal 1985 a tutt'oggi ha scritto circa 30 libri