extends ../layouts/default

block content
	.container
		h1 Contatti
		h2 Prof. Saverio Pompili
		br
		<img src="/images/pompili.png" width="300" height="250">
		br
		h3 Saverio Pompili Roma, 2013 
		p Professore a Contratto Stabilizzato c/o Università “Sapienza” di Roma in Discipline Infermieristiche. 
		p Direttore Didattico CLUPS “ Sapienza” di Roma Infermieristica “D” / IPAMAS Aeronautica Militare. 
		p Docente CLS sede Polo Pontino Latina. Docente Responsabile programma Erasmus Facoltà di Medicina e Odontoiatria Università Sapienza, Roma. Numerose relazioni e pubblicazioni.
		p Referente Collegio IPASVI di Roma. Esperienze in PVS per conto M.AA.EE. e organismi di volontariato. 
		p DAI Dott. AFD Azienda Policlinico Umberto I di Roma, Coordinatore Unità operativa CRARL Dip.to Medicina Clinica.