extends ../layouts/default

block content
	.jumbotron.home
		.container
			h1 Centro di Riferimento Alcologico della Regione Lazio

	//.container.news		
		h3 News
		ul
			li: <span class="date">[21/07/2014]</span> - 20 - 22 Ottobre 2014 - <a href="http://www.eufasd.org/rome_main.php"> Terza conferenza mondiale FASD, Roma</a>

			li: <span class="date">[1/1/1245 a.C.]</span> - Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque non erat sed urna interdum placerat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sed sodales tellus, ut tincidunt risus. Fusce leo quam, dignissim id hendrerit in, tempus ac quam. Ut ultricies eleifend justo, sed sagittis quam sodales at. Nulla molestie tincidunt magna, in feugiat leo rhoncus ac.
			
			li: <span class="date">[24/09/1765 d.C.]</span> Nullam feugiat mauris tellus, ut egestas eros tempor id. Nunc eget lacinia ante. Nam faucibus quam libero, quis ornare arcu hendrerit ut. Quisque enim magna, scelerisque ac sodales a, vulputate at est. 
			
			li: <span class="date">[02/01/2015 d.C.]</span> - Cras commodo ligula eu sem laoreet, eu volutpat neque tempor. Vestibulum a elit eleifend, gravida lacus a, tristique ipsum. Donec vel nisl ultricies, tempor risus a, tincidunt massa. Mauris interdum egestas nibh, sed sodales massa pulvinar id.
			
			li: <span class="date">[14/04/1687 d.C.]</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a risus vitae dolor fringilla ultrices non sit amet justo. Maecenas sed scelerisque risus, vel suscipit arcu. Vivamus blandit nisi arcu, ac volutpat turpis facilisis sed. Sed iaculis tellus fringilla lorem fermentum, nec tincidunt massa aliquet. Nunc eu sapien non dolor convallis gravida tincidunt eget velit. Donec accumsan congue magna ultrices faucibus.
	.container.abstract
		h2 Su questo portale troverete documenti, informazioni scientifiche e risorse sul tema dell'alcolismo, della difesa della maternità e della pubblicità.
	.container.links
		h3 Link utili
		ul
			li: <a href="http://www.niaaa.nih.gov"> National Institute on Alcohol Abuse and Alcoholism </a>
			li: <a href="http://www.rsoa.org"> Research Society on Alcoholism </a>
			li: <a href="http://www.esbra.com"> European Society for Biomedical Research on Alcoholism </a>
			li: <a href="http://www.isbra.com"> International Society for Biomedical Research on Alcoholism </a>
			li: <a href="http://www.eufasd.org"> European FASD Alliance </a>

	.container.contacts
		h3 Contatti
		ul
			li <a href="http://www.facebook.com/crarl.lazio">Pagina Facebook</a>
			li Email <a href:"mailto:info@crarl.it">info@crarl.it</a>

		
	
