extends ../layouts/default

block content
	.container
		h1 Teleassistenza
		
		h3 Progetto Sperimentale per l’Alcoldipendenza
		p Autogestione tele-assistita, tecniche cognitivo-comportamentali e trattamento individualizzato per ottimizzare, a livello quantitativo e qualitativo, gli interventi integrati di prevenzione secondaria dell’abuso dell’alcol.
		p Responsabile Scientifico del Progetto: Prof. Mauro Ceccanti

		h3 Corsi online

		p I corsi sono destinati ai Dottori che lavorano sulla sperimentazione del nuovo metodo sono stati sviluppati in modo tale da dare a coloro che li visionano e li studiano un sapere maggiore e continuativo.

		ul
			<li>Modulo 1, unità 1 e 2: la settimana del 11/5 (in 2 giorni differenti della settimana)</li>
			<li>Modulo 1, unità 3 e 4: la settimana del 18/5 (in 2 giorni differenti della settimana)</li>
			<li>Modulo 2, unità 1 e 2: la settimana del 25/5 (in 2 giorni differenti della settimana)</li>
			<li>Modulo 2, unità 3 e 4: la settimana del 1/6 (in 2 giorni differenti della settimana)</li>
			<li>Modulo 3, unità 1: la settimana del 8/6</li>
			<li>Modulo 3, unità 2: la settimana del 15/6</li>
			<li>Modulo 3, unità 3: la settimana del 22/6</li>
			<li>Modulo 3, unità 4: la settimana del 19/6</li>
			<li>Modulo 3, unità 5: la settimana del 6/7</li>
			<li>Modulo 3, unità 6: la settimana del 13/7</li>
			<li>Modulo 3, unità 7: la settimana del 20/7</li>

		a(href='http://wbt.evodevo.it/moodle').btn.btn-lg.btn-primary Inizia il corso

		h3 Documentazione del supporto tecnico
		a(href='/documenti').btn.btn-lg.btn-primary vai alla documentazione del supporto tecnico

		h3 Cartella Clinica
		a(href='http://epr.crarl.it/').btn.btn-lg.btn-primary Cartella Clinica

		
